---
import Button from "../../components/client/Button.svelte";
import TextLogo from "../../components/assets/TextLogo.svelte";
---

<div id="hero-card">
  <div class="bg">
    <div class="hero-content" class="flex w-full h-full gap-4">
      <div class="text flex flex-col h-full">
        <div class="title flex flex-col gap-6 mb-6">
          <!-- <h1 class="m-0 p-0 leading-10">ILLYRIAN</h1>
                    <h2>DEVELOPMENT | VIDEO | DESIGN</h2> -->
          <TextLogo />
        </div>
        <p class="mb-6">
          <strong>ILLYRIAN D.V.D.</strong> is the perfect solution if you want
          high quality work in the field of <!-- <strong
                        class="uppercase font-black"
                        > -->visual
          content creation and web development.<!-- </strong
                    > -->

           This portfolio itself is a showcase of my skills and previous work.
          <br /><br />
           Would you like to chat? Feel free to send me a message and I'll
          respond in no time!
        </p>
        <div class="cta-button">
          <Button
            bg="var(--secondary)"
            color="var(--primary)"
            text="Contact me"
            radius="3rem"
            uppercase={true}
            bold={true}
            submit={false}
            href="/#contact-card"
            client:load
          />
        </div>
      </div>
      <div class="logo">
        <img src="/logo.png" width="650" height="720" alt="" />
      </div>
    </div>
  </div>
</div>

<style>
  #hero-card {
    height: 100%;

    .bg {
      height: 100%;
      position: relative;
      background-image: url("/hero_bg.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      z-index: 1;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        background: linear-gradient(
          90deg,
          #161411 0%,
          rgba(242, 226, 189, 0) 51.56%
        );
        z-index: 3;

        @media (max-width: 500px) {
          background: linear-gradient(
            to bottom,
            #161411 -20%,
            rgba(242, 226, 189, 0) 51.56%
          );
        }
      }
    }

    .hero-content {
      height: 100%;
      padding: 4rem 8rem;
      position: relative;
      z-index: 5;
      isolation: isolate;
      mix-blend-mode: normal;
      color: #fff;
      display: flex;
      align-items: center;

      @media (max-width: 1440px) {
        padding-top: 2rem;
      }

      @media (max-width: 1300px) {
        padding: 2rem 4rem;
        align-items: start;
      }

      @media (max-width: 1024px) {
        padding: 2rem 2rem;
        align-items: start;
      }

      .text *,
      .logo * {
        z-index: 100;
      }

      .text {
        width: 60%;
        height: 100%;
        justify-content: center;
        line-height: 1.5;

        @media (max-width: 1024px) {
          width: 70%;
          justify-content: end;
        }
        @media (max-width: 500px) {
          width: 90%;
          justify-content: end;
          /* letter-spacing: 0.5px; */
        }

        .title {
          width: 80%;
        }
        p {
          font-size: 1.25rem;
          font-weight: 300;
          line-height: normal;

          strong {
            font-weight: 700;
            transition: 0.5s all ease-in;
            cursor: default;

            &:hover {
              background-color: var(--secondary);
              color: #000;
            }
          }
        }

        .cta-button {
          width: 80%;
          @media (max-width: 1024px) {
            max-width: auto;
            width: 80%;
          }
        }
      }

      .logo {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
        height: 200px;
        width: auto;

        @media (max-width: 1024px) {
          top: 3rem;
          right: 1rem;
          height: 80px;
        }

        @media (max-width: 500px) {
          top: 4.5rem;
          right: 1.5rem;
          height: 80px;
        }
      }

      .logo img {
        height: 100%;
        width: auto;
      }
    }
  }
</style>
