---
import FullLogo from "../../components/assets/FullLogo.svelte";
import Button from "../../components/client/Button.svelte";
---

<div id="video-card">
  <div class="content flex">
    <div class="left">
      <div class="text h-full flex flex-col justify-center items-center">
        <p>
          <strong>Content Creation Expert&nbsp;-</strong><br />I have produced,
          edited and animated 150+ professional videos.
          <br /><br />They <strong
            >helped raise funds, grow YouTube channels, promote brands &
            products</strong
          >
        </p>
        <div class="cta-button">
          <Button
            bg="#161411"
            color="#fff"
            radius="15px"
            text="Learn more"
            bold={false}
            uppercase={false}
            submit={false}
            href="/video"
            client:load
          />
        </div>
      </div>
    </div>
    <div class="right h-full flex flex-col justify-center items-center">
      <ul>
        <li>whiteboard animations</li>
        <li>video production</li>
        <li>editing</li>
        <li>motion graphics</li>
        <li>VFX production</li>
      </ul>
      <img src="/video-stack.png" alt="My tools for video work" />
    </div>
  </div>
  <footer class="w-full flex justify-between items-center">
    <h1>VIDEO</h1>
    <div class="img flex h-full align-center">
      <FullLogo width="350" height="180" color="black" client:load />
    </div>
  </footer>
</div>

<style>
  #video-card {
    height: 100%;
    width: 100%;

    .content {
      height: calc(100% - 200px);
      width: 100%;
      background: url("/video-home-bg.svg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: left;

      @media (min-width: 1441px) {
        @media (max-height: 900px) {
          height: calc(100% - 150px);
        }
      }
      @media (max-width: 1440px) {
        height: calc(100% - 150px);
      }
      @media (max-width: 767px) {
        height: calc(100% - 71px);
        flex-direction: column;
      }

      .left,
      .right {
        width: 50%;
        height: 100%;
        padding-top: 3rem;

        @media (max-width: 767px) {
          width: 100%;
        }
      }

      .left {
        @media (max-width: 767px) {
          height: 60%;
        }
        .text {
          width: 80%;
          margin: 0 auto;
          gap: 2rem;

          @media (max-width: 500px) {
            gap: 1rem;
          }

          p {
            font-size: 2.25rem;
            line-height: normal;

            @media (min-width: 1441px) {
              @media (max-height: 900px) {
                font-size: 1.75rem;
              }
            }
            @media (max-width: 1440px) {
              font-size: 1.75rem;
            }
            @media (max-width: 767px) {
              font-size: 1.5rem;
            }
          }
          .cta-button {
            font-size: 1.25rem;
            width: 45%;
            align-self: start;
            @media (min-width: 1441px) {
              @media (max-height: 900px) {
                font-size: 1rem;
              }
            }
            @media (max-width: 1440px) {
              font-size: 1rem;
            }

            @media (max-width: 500px) {
              width: 65%;
            }
          }
        }
      }

      .right {
        background: url("/Ellipse 5.svg");
        background-position: left;
        background-repeat: no-repeat;
        color: #fff;
        gap: 3rem;
        background-size: 60vw;

        @media (max-width: 1440px) {
          background-size: 100vh;
        }
        @media (max-width: 1024px) {
          background-size: 150vw;
        }
        @media (max-width: 767px) {
          height: 40%;
          background: url("/Ellipse 6.svg");
          background-position: top;
          background-size: 300vw;
          flex-direction: row-reverse;
          padding: 0 2rem;
        }
        @media (max-width: 500px) {
          flex-direction: column-reverse;
          justify-content: center;
          padding-top: 1rem;
          gap: 1rem;
        }

        ul {
          list-style: inside;
          font-size: 2rem;
          font-weight: 700;

          @media (min-width: 1441px) {
            @media (max-height: 900px) {
              font-size: 1.5rem;
            }
          }
          @media (max-width: 1440px) {
            font-size: 1.5rem;
          }

          @media (max-width: 767px) {
            font-size: 1.25rem;
          }
          @media (max-width: 500px) {
            font-size: 1.25rem;
          }
        }

        img {
          @media (max-width: 1440px) {
            max-width: 70%;
            height: auto;
          }
          @media (max-width: 767px) {
            max-width: 45%;
            height: auto;
          }
          @media (max-width: 500px) {
            max-width: 75%;
            height: auto;
          }
        }
      }
    }

    footer {
      background: #e8cd93;
      padding: 0 5%;
      height: 200px;

      @media (min-width: 1441px) {
        @media (max-height: 900px) {
          height: 150px;
        }
      }

      @media (max-width: 1440px) {
        height: 150px;
      }

      @media (max-width: 767px) {
        height: 70px;
        justify-content: center;
        background: transparent;
        color: #fff;
      }

      h1 {
        font-size: 4rem;
        font-weight: 900;
        @media (max-width: 1440px) {
          font-size: 3.5rem;
        }
        @media (max-width: 767px) {
          font-size: 3rem;
        }
      }
      .img {
        height: 100%;
        max-height: 180px;
        width: auto;

        @media (min-width: 1441px) {
          @media (max-height: 900px) {
            max-height: 120px;
          }
        }

        @media (max-width: 1440px) {
          max-height: 120px;
        }
      }
    }
  }
</style>
