---
import Button from "../../components/client/Button.svelte";
import TextLogo from "../../components/assets/TextLogo.svelte";
import DownButton from "../../components/svg/DownButton.svelte";
---

<div id="hero-card">
  <div class="hero-content">
    <strong><h1 class="title">VIDEO</h1></strong>
    <div class="subtitle">
      <div>
        <h2>Visualizing awesomeness?</h2>
        <h1>
          <strong>Let me show you how!</strong>
        </h1>
      </div>
      <div class="button">
        <DownButton client:load />
      </div>
    </div>
  </div>
</div>

<style>
  #hero-card {
    height: 100%;
    background-color: #fff;
    background-image: url("/video-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 2;
    /* box-shadow:
      inset 100px 0px 200px #fff,
      inset -100px -100px 200px #fff; */

    &::before {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      content: "";
      background: linear-gradient(
        180deg,
        #b9af99 10%,
        rgba(185, 175, 153, 0) 45%
      );
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .hero-content {
      position: relative;
      z-index: 3;
      padding: 4rem;
      height: 100%;
      color: #000;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @media (max-width: 767px) {
        padding: 4rem 2rem;
      }

      strong h1.title {
        font-size: 4rem;
        font-weight: 800;
        color: #fff;

        @media (max-width: 1024px) {
          font-size: 3rem;
        }
        /* @media (max-width: 767px) {
          font-size: 2.5rem;
        }*/
        @media (max-width: 320px) {
          text-align: center;
          padding-top: 2rem;
        }
      }

      h2 {
        font-size: 2.5rem;
        @media (max-width: 1024px) {
          font-size: 1.5rem;
        }
        @media (max-width: 767px) {
          font-size: 1.25rem;
        }
      }
      h1 strong {
        font-size: 4rem;
        font-weight: 800;

        @media (max-width: 1024px) {
          font-size: 3rem;
        }
        @media (max-width: 767px) {
          font-size: 2.5rem;
        }
      }
      .subtitle {
        line-height: 1.1;
        @media (max-width: 1024px) {
          line-height: 1.25;
        }

        @media (max-width: 767px) {
          display: flex;
          flex-direction: row-reverse;
          justify-content: flex-end;
          align-items: center;
          gap: 2rem;
        }

        @media (max-width: 320px) {
          flex-direction: column-reverse;
          align-items: flex-end;
        }

        .button {
          position: absolute;
          bottom: 4rem;
          right: 7rem;

          @media (max-width: 1024px) {
            bottom: 3.5rem;
            right: 4rem;
          }

          @media (max-width: 767px) {
            position: relative;
            bottom: auto;
            right: auto;
            left: auto;
          }
        }
      }

      /* .button {
      position: absolute;
      bottom: 4rem;
      right: 7rem;
    } */
    }
  }
</style>
